  header
{
    padding-top: 10px;

    background: #f39200;
}

.Logo
{
    position: absolute;

    width: 100px;
    margin: 0, auto;
    top: -17px;
    left: 56px;
}
.LogoName{
  position: absolute;

  width: 90px;
  margin: 0, auto;
  top: 67px;
  left: 64px;
}

.count
{
    font-size: 12px;
    line-height: 20px;

    position: absolute;
    z-index: 1;
    left: 20px;

    width: 20px;
    height: 20px;

    text-align: center;

    color: #fff;
    border-radius: 50%;
    background: red;
}

#notoptions
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: -1800px;

    height: 100%;

    background: #f39200;

    transition: all .5s;
}

#options
{
    position: fixed;
    z-index: 999;
    top: 0;
    right: 0;

    height: 100%;

    background: #f39200;

    transition: all .5s;

    -webkit-box-shadow: -8px 2px 23px 8px rgba(0,0,0,.29);
       -moz-box-shadow: -8px 2px 23px 8px rgba(0,0,0,.29);
            box-shadow: -8px 2px 23px 8px rgba(0,0,0,.29);
}

#options li, #notoptions li
{
    font-size: 18px;

    visibility: hidden;

    margin-bottom: 5px;
    padding-left: 15px;

    list-style: none;

    color: #000;
    background: #fff;
}

.closed
{
    font-size: 19px;

    position: relative;
    top: 5px;
    left: 0;

    color: #fff;

    cursor: pointer;
}

.shop
{
    background: transparent;
    width: 100%;
    height: 75vh;
    overflow-y: auto;
    position: relative;
}

.buy
{
    position: absolute;
    bottom: 0;
    left: 10%;
    width: 80%;
    padding-bottom: 20px;
    padding-top: 20px;
}

.product {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #fff;
    overflow:hidden;
    margin-top: 10px;
}

.image {
    width: 20%;
    height: 10vh;
    background: #fff;
    float: left;
}

.datos {
    margin-top: -20px;
    margin-left: 5px;
    width: 60%;
    float: left;
    color: #fff;
}

.titulo {
    float: right;
    margin-top: 6px;
    color: #fff;
}

.delete {
    float: right;
    margin-top: 10px;
    color: #fff;
    margin-right: 10px;
}

.datos h1 {
    font-size: 20px;
}

.datos p {
    margin-top: -15px;
    color: #fff;
}

.log
{
    text-align: center;

    color: #fff;
}

.notifications-icons
{
    font-size: 25px;
    line-height: 25px;

    position: relative;
    top: 5px;

    cursor: pointer;

    float: left;

    margin-right: 30px;

    color: #a66400;
}

nav
{
    margin-top: 10px;

    list-style: none;

    text-align: center;
}

nav a
{
    font-size: 14px;

    display: inline-block;

    padding: 15px 25px;

    text-decoration: none;

    color: #fff;
}

nav a,
nav a:hover
{
    text-decoration: none;

    color: #fff;
}

nav a .pill
{
    width: 0;
    height: 2px;
    margin: 0 auto;

    transition: all .5s;
    text-decoration: none;

    background: transparent;
}

nav a:visited
{
    color: #fff;

    text-decoration-color: transparent;
}

nav a:active
{
    color: #fff;

    text-decoration-color: transparent;
}

nav a:hover .pill
{
    width: 100%;
    height: 2px;
    margin: 0 auto;

    transition: all .5s;

    color: #fff;
    background: #fff;
}
